# Large files
data/creditcard.csv
data/X_train_res.pkl
data/X_train.pkl
data/X_test.pkl
data/y_train.pkl
data/y_test.pkl
data/y_train_res.pkl

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/
__pycache__/